/* Reset default browser styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body background */
body{
  background-color: rgb(238, 230, 221);
}

/* Main container */
.container{
  background-color: rgb(194, 188, 188);
  padding: 30px 8%;
  border-radius: 30px;
  margin: 30px auto;
  width: 90%;
}

/* Navigation Bar */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu button */
.menu-btn{
  background-color: rgb(231, 231, 231);
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
}

/* Pokemon logo */
.logo{
  width: 150px;
}

/* Theme button */
.theme-btn{
  width: 40px;
  height: 40px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
}

